<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Calculator</title>
</head>
<body>
<h2>Flight Calculator</h2>
<hr>
<div th:if="message">
    <p th:text="${message}"></p>
</div>
<form method="post" th:action="@{/change}">
    <label for="pass1">Enter new password</label>
    <input type="password" name="pass1" id="pass1" placeholder="Enter new password"/>
    <br>
    <label for="pass2">Repeat password</label>
    <input type="password" name="pass2" id="pass2" placeholder="Repeat password"/>
    <br>
    <input type="hidden" name="code" th:value="${code}">
    <input type="hidden" name="_csrf" th:value="@{_csrf.token}"/>
    <input type="submit" value="change"/>
</form>
</body>
</html>